.navigate-container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigate {
  padding-left: 60px;
  padding-right: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border-bottom-color: #9c9c9c80;
  border-bottom-style: solid;
  border-bottom-width: 0.55px;
  margin-bottom: 30px;
}
.navigate h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
}
.navigate .navigate-button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.navigate .navigate-button-container .left {
  width: 40px;
  height: 38px;
  background: #beaf7c;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigate .navigate-button-container .right {
  width: 40px;
  height: 38px;
  border: 1.55px solid #beaf7c;
  border-radius: 3px;
  color: #beaf7c;
  display: flex;
  justify-content: center;
  align-items: center;
}
